# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, chi2_contingency
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.formula.api import ols
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import f_classif
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import mutual_info_classif
from scipy.stats import f_oneway
from scipy.stats import skew, iqr, zscore
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
df=pd.read_csv('bank-additional-full.csv',delimiter=';')

In [3]:
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [5]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [6]:
df.shape

(41188, 21)

In [7]:
print(df['y'].value_counts())
print(df['y'].nunique())
print()
print('-'*100)
df["y"] = df['y'].replace({'yes':1,'no':0})

print(df['y'].value_counts())
print(df['y'].nunique())

y
no     36548
yes     4640
Name: count, dtype: int64
2

----------------------------------------------------------------------------------------------------
y
0    36548
1     4640
Name: count, dtype: int64
2

In [8]:
numeric_data = df.select_dtypes(include=[np.number])

categorical_data = df.select_dtypes(exclude=[np.number])

In [9]:
categorical_data.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome'],
      dtype='object')

In [10]:
print(f'Data contains {df.shape[0]} samples and {df.shape[1]} variables')

#ID_col=
TARGET_COL='y'

#features = [c for c in data.columns if c not in [ID_COL, TARGET_COL]]
features = [c for c in df.columns if c not in [TARGET_COL]]
print(f'\nThe dataset contains {len(features)} input features')

Data contains 41188 samples and 21 variables

The dataset contains 20 input features

# Statistical Analysis on Continuous Variables

In [11]:
numeric_data.head(5)

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0

In [12]:
numeric_data.tail(5)

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0

In [13]:
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   duration        41188 non-null  int64
 2   campaign        41188 non-null  int64
 3   pdays           41188 non-null  int64
 4   previous        41188 non-null  int64
 5   emp.var.rate    41188 non-null  float64
 6   cons.price.idx  41188 non-null  float64
 7   cons.conf.idx   41188 non-null  float64
 8   euribor3m       41188 non-null  float64
 9   nr.employed     41188 non-null  float64
 10  y               41188 non-null  int64
dtypes: float64(5), int64(6)
memory usage: 3.5 MB

# Convergence Rate (Percentage)

In [14]:
d1=numeric_data[numeric_data['y']==1]

In [15]:
# Assuming d1 is your DataFrame and numeric_data contains 'age' column
Conversion_Age_Yes = (d1['age'].value_counts() / numeric_data['age'].value_counts()) * 100

# Convert to DataFrame
conversion_df_age = pd.DataFrame({
    'Conversion Percentage in Yes': Conversion_Age_Yes.values
}, index=Conversion_Age_Yes.index)

# Rename the index column to 'age'
conversion_df_age.index.name = 'Age'

# Display the DataFrame
conversion_df_age

     Conversion Percentage in Yes
Age
17                      40.000000
18                      42.857143
19                      47.619048
20                      35.384615
21                      28.431373
..                            ...
91                            NaN
92                      75.000000
94                            NaN
95                            NaN
98                     100.000000

[78 rows x 1 columns]

# Proportion of Term Deposit Subscribers by Occupation

In [16]:
data1= df.copy()

data1['y'] = data1['y'].replace(['no','yes'],[0,1]) #needed to do below mathematical operations
data1.head()

#no of clients who subscribed to the term deposit grouped by occupation
total_subscribers = data1.groupby('job').y.sum().values

# Proportion of clients who subscribed to the term deposit grouped by occupation
proportion_subscribed = (round(data1.groupby('job').y.sum()/data1.groupby('job').y.count(),3)*100).values

# Total amount of clients per occupation
total_people = data1.groupby('job').y.count().values

#Form a dataframe and print
jobs = sorted(data1.job.unique()) #list of all jobs
jobs_with_subscribers = pd.DataFrame({'Job': jobs, 'Total Subscribers':total_subscribers,'Total People in Job': total_people,'Proportion of Subscribers': proportion_subscribed})
jobs_with_subscribers.sort_values(by='Proportion of Subscribers', ascending=False)

,Job,Total Subscribers,Total People in Job,Proportion of Subscribers
8,student,275,875,31.4
5,retired,434,1720,25.2
10,unemployed,144,1014,14.2
0,admin.,1352,10422,13.0
4,management,328,2924,11.2
11,unknown,37,330,11.2
9,technician,730,6743,10.8
6,self-employed,149,1421,10.5
3,housemaid,106,1060,10.0
2,entrepreneur,124,1456,8.5
7,services,323,3969,8.1
1,blue-collar,638,9254,6.9

# Marital Status and Campaign Success Rate Comparison

In [17]:
married_subscribers = data1[(data1.marital=='married') ].y.sum()
single_subscribers = data1[(data1.marital=='single') | (data1.marital=='divorced')].y.sum() #single or divorced

married_subscribers_prop = married_subscribers/len(data1[data1.marital=='married'])
single_subscribers_prop = single_subscribers/len(data1[(data1.marital=='single') | (data1.marital=='divorced')])

print('No of Married clients who subscribe: {}'.format(married_subscribers))
print('No of Single (and divorced) clients who subscribe : {}'.format(single_subscribers))

print('Married clients campaign success rate: {0:.0f}%'.format(married_subscribers_prop*100))
print('Single clients campaign success rate: {0:.0f}%'.format(single_subscribers_prop*100))

No of Married clients who subscribe: 2532
No of Single (and divorced) clients who subscribe : 2096
Married clients campaign success rate: 10%
Single clients campaign success rate: 13%

# Age Group and Subscription Proportion Analysis

In [18]:
n1=len(numeric_data[(numeric_data['age'] > 60) & (numeric_data['y'] == 1)]) #number of old subscribers
n2=len(numeric_data[(numeric_data['age'] > 60) & (numeric_data['y'] == 0)]) #number of old non-subscribers
n3=len(numeric_data[(numeric_data['age'] <= 60) & (numeric_data['y'] == 1)]) #number of young subscribers
n4=len(numeric_data[(numeric_data['age'] <= 60) & (numeric_data['y'] == 0)]) #number of young non-subscribers

print(f'Proportion of young subscribers is: {n3/(n3+n4)} and the proportion of old subscribers is {n1/(n1+n2)}')

Proportion of young subscribers is: 0.10492080043696311 and the proportion of old subscribers is 0.45494505494505494

# Conversion Percentage Based on __ Days Before Called Analysis

In [19]:
# Assuming d1 is your DataFrame and numeric_data contains 'pdays' column
Conversion_Pdays_Yes = (d1['pdays'].value_counts() / numeric_data['pdays'].value_counts()) * 100

# Convert to DataFrame
conversion_df = pd.DataFrame({
    'Conversion Percentage in Yes': Conversion_Pdays_Yes.values
}, index=Conversion_Pdays_Yes.index)

# Rename the index column to 'days'
conversion_df.index.name = 'Days Before Called'

# Display the DataFrame
conversion_df

                    Conversion Percentage in Yes
Days Before Called
0                                      66.666667
1                                      30.769231
2                                      60.655738
3                                      67.881549
4                                      53.389831
5                                      63.043478
6                                      70.145631
7                                      66.666667
8                                      66.666667
9                                      54.687500
10                                     57.692308
11                                     53.571429
12                                     44.827586
13                                     77.777778
14                                     55.000000
15                                     66.666667
16                                     54.545455
17                                     25.000000
18                                     57.142857
19                                     33.333333
20                                           NaN
21                                    100.000000
22                                     66.666667
25                                    100.000000
26                                    100.000000
27                                    100.000000
999                                     9.258186

# Conversion Percentage Based on Previous Calls Analysis

In [20]:
# Assuming d1 is your DataFrame and numeric_data contains 'previous' column
Conversion_Previous_Yes = (d1['previous'].value_counts() / numeric_data['previous'].value_counts()) * 100

# Convert to DataFrame
conversion_previous_df = pd.DataFrame({
    'Conversion Percentage in Yes': Conversion_Previous_Yes.values
}, index=Conversion_Previous_Yes.index)

# Rename the index column to 'previous'
conversion_previous_df.index.name = 'Calls Made Previous'

# Display the DataFrame
conversion_previous_df

                     Conversion Percentage in Yes
Calls Made Previous
0                                        8.832213
1                                       21.201491
2                                       46.419098
3                                       59.259259
4                                       54.285714
5                                       72.222222
6                                       60.000000
7                                             NaN

# 1. Descriptive Analysis

In [21]:
# Assuming df is your DataFrame with numeric columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Convert DataFrame to numeric type and handle missing values
numeric_data = df.select_dtypes(include='number').dropna()

# Loop through each numeric column
for col in numeric_data.columns:
    print(f"\n_______  {col}  _______")
    print('-'*100)
    print()
    

    # Mean and Median
    mean_val = numeric_data[col].mean()
    median_val = numeric_data[col].median()
    print(f"Mean: {mean_val}")
    print(f"Median: {median_val}")
    print()

    # Skewness
    skewness = skew(numeric_data[col])
    print(f"Skewness: {skewness}")
    skewness_explanation = "Normally Distributed" if abs(skewness) <= 0.5 else "Not Normally Distributed"
    print(f"Skewness Explanation: {skewness_explanation}")
    print()

    # IQR (Interquartile Range)
    q1 = numeric_data[col].quantile(0.25)
    q3 = numeric_data[col].quantile(0.75)
    iqr_val = iqr(numeric_data[col])
    print(f"IQR: {iqr_val}")
    print()

    # Outlier Detection using IQR
    lower_bound = q1 - 1.5 * iqr_val
    upper_bound = q3 + 1.5 * iqr_val
    outliers = numeric_data[(numeric_data[col] < lower_bound) | (numeric_data[col] > upper_bound)]
    outlier_percentage = (len(outliers) / len(numeric_data)) * 100
    print(f"Outlier Percentage (using IQR): {outlier_percentage}%")
    print()

    # Z-Score Test for Outliers
    z_scores = zscore(numeric_data[col])
    z_outliers = numeric_data[abs(z_scores) > 3]
    z_outlier_percentage = (len(z_outliers) / len(numeric_data)) * 100
    print(f"Outlier Percentage (using Z-Score): {z_outlier_percentage}%")
    print()

    # Variance Inflation Factor (VIF) - Checking for multicollinearity
    vif_data = numeric_data.drop(col, axis=1)  # Exclude the current column from VIF calculation
    vif_values = [variance_inflation_factor(vif_data.values, i) for i in range(vif_data.shape[1])]
    vif_df = pd.DataFrame({'Variable': vif_data.columns, 'VIF': vif_values})
    vif_df['Multicollinearity'] = ['Yes' if vif > 10 else 'No' for vif in vif_values]
    print("\n--- Variance Inflation Factor (VIF) ---")
    print(vif_df)
    print()

    print(f"\n--- Univariate Analysis for {col} ---")
    print("Descriptive Statistics:")
    print(df[col].describe())
    print('**'*50)
    print()

_______  age  _______
----------------------------------------------------------------------------------------------------

Mean: 40.02406040594348
Median: 38.0

Skewness: 0.7846682380932289
Skewness Explanation: Not Normally Distributed

IQR: 15.0

Outlier Percentage (using IQR): 1.1386811692726035%

Outlier Percentage (using Z-Score): 0.8958920073807904%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0        duration      2.444702                No
1        campaign      1.921555                No
2           pdays     46.389563               Yes
3        previous      2.004558                No
4    emp.var.rate     28.941722               Yes
5  cons.price.idx  22842.836340               Yes
6   cons.conf.idx    119.543214               Yes
7       euribor3m    226.204059               Yes
8     nr.employed  26987.015363               Yes
9               y      1.664882                No


--- Univariate Analysis for age ---
Descriptive Statistics:
count    41188.00000
mean        40.02406
std         10.42125
min         17.00000
25%         32.00000
50%         38.00000
75%         47.00000
max         98.00000
Name: age, dtype: float64
****************************************************************************************************


_______  duration  _______
----------------------------------------------------------------------------------------------------

Mean: 258.2850101971448
Median: 180.0

Skewness: 3.2630224157610432
Skewness Explanation: Not Normally Distributed

IQR: 217.0

Outlier Percentage (using IQR): 7.193842866854423%

Outlier Percentage (using Z-Score): 2.090414683888511%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.049256               Yes
1        campaign      1.913119                No
2           pdays     46.254368               Yes
3        previous      2.005039                No
4    emp.var.rate     28.948708               Yes
5  cons.price.idx  22871.691061               Yes
6   cons.conf.idx    120.579283               Yes
7       euribor3m    226.228319               Yes
8     nr.employed  26984.404557               Yes
9               y      1.369720                No


--- Univariate Analysis for duration ---
Descriptive Statistics:
count    41188.000000
mean       258.285010
std        259.279249
min          0.000000
25%        102.000000
50%        180.000000
75%        319.000000
max       4918.000000
Name: duration, dtype: float64
****************************************************************************************************


_______  campaign  _______
----------------------------------------------------------------------------------------------------

Mean: 2.567592502670681
Median: 2.0

Skewness: 4.762333252560971
Skewness Explanation: Not Normally Distributed

IQR: 2.0

Outlier Percentage (using IQR): 5.8415072351170245%

Outlier Percentage (using Z-Score): 2.1098378168398564%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.047843               Yes
1        duration      2.433756                No
2           pdays     46.389094               Yes
3        previous      2.004273                No
4    emp.var.rate     28.769058               Yes
5  cons.price.idx  22857.760721               Yes
6   cons.conf.idx    120.825830               Yes
7       euribor3m    225.608858               Yes
8     nr.employed  26955.162288               Yes
9               y      1.664890                No


--- Univariate Analysis for campaign ---
Descriptive Statistics:
count    41188.000000
mean         2.567593
std          2.770014
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max         56.000000
Name: campaign, dtype: float64
****************************************************************************************************


_______  pdays  _______
----------------------------------------------------------------------------------------------------

Mean: 962.4754540157328
Median: 999.0

Skewness: -4.922010656450045
Skewness Explanation: Not Normally Distributed

IQR: 0.0

Outlier Percentage (using IQR): 3.6782558026609693%

Outlier Percentage (using Z-Score): 3.6782558026609693%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.049837               Yes
1        duration      2.437666                No
2        campaign      1.921774                No
3        previous      1.510604                No
4    emp.var.rate     28.933651               Yes
5  cons.price.idx  22733.893870               Yes
6   cons.conf.idx    119.503536               Yes
7       euribor3m    226.237378               Yes
8     nr.employed  26675.057628               Yes
9               y      1.594203                No


--- Univariate Analysis for pdays ---
Descriptive Statistics:
count    41188.000000
mean       962.475454
std        186.910907
min          0.000000
25%        999.000000
50%        999.000000
75%        999.000000
max        999.000000
Name: pdays, dtype: float64
****************************************************************************************************


_______  previous  _______
----------------------------------------------------------------------------------------------------

Mean: 0.17296299893172767
Median: 0.0

Skewness: 3.8319026847007014
Skewness Explanation: Not Normally Distributed

IQR: 0.0

Outlier Percentage (using IQR): 13.65689035641449%

Outlier Percentage (using Z-Score): 2.583276682528892%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.045844               Yes
1        duration      2.444768                No
2        campaign      1.921042                No
3           pdays     34.949748               Yes
4    emp.var.rate     28.952264               Yes
5  cons.price.idx  22554.990597               Yes
6   cons.conf.idx    120.794996               Yes
7       euribor3m    225.576222               Yes
8     nr.employed  26802.864918               Yes
9               y      1.662161                No


--- Univariate Analysis for previous ---
Descriptive Statistics:
count    41188.000000
mean         0.172963
std          0.494901
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          7.000000
Name: previous, dtype: float64
****************************************************************************************************


_______  emp.var.rate  _______
----------------------------------------------------------------------------------------------------

Mean: 0.08188550063125165
Median: 1.1

Skewness: -0.7240691785977529
Skewness Explanation: Not Normally Distributed

IQR: 3.2

Outlier Percentage (using IQR): 0.0%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.043393               Yes
1        duration      2.444399                No
2        campaign      1.909561                No
3           pdays     46.358009               Yes
4        previous      2.004982                No
5  cons.price.idx  17414.512367               Yes
6   cons.conf.idx     95.001790               Yes
7       euribor3m     15.664688               Yes
8     nr.employed  18600.531558               Yes
9               y      1.662665                No


--- Univariate Analysis for emp.var.rate ---
Descriptive Statistics:
count    41188.000000
mean         0.081886
std          1.570960
min         -3.400000
25%         -1.800000
50%          1.100000
75%          1.400000
max          1.400000
Name: emp.var.rate, dtype: float64
****************************************************************************************************


_______  cons.price.idx  _______
----------------------------------------------------------------------------------------------------

Mean: 93.57566436826262
Median: 93.749

Skewness: -0.23087924271991117
Skewness Explanation: Normally Distributed

IQR: 0.9189999999999969

Outlier Percentage (using IQR): 0.0%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
        Variable         VIF Multicollinearity
0            age   16.027421               Yes
1       duration    2.444460                No
2       campaign    1.920363                No
3          pdays   46.103840               Yes
4       previous    1.977026                No
5   emp.var.rate   22.042104               Yes
6  cons.conf.idx  109.549412               Yes
7      euribor3m  139.863984               Yes
8    nr.employed  369.889641               Yes
9              y    1.642313                No


--- Univariate Analysis for cons.price.idx ---
Descriptive Statistics:
count    41188.000000
mean        93.575664
std          0.578840
min         92.201000
25%         93.075000
50%         93.749000
75%         93.994000
max         94.767000
Name: cons.price.idx, dtype: float64
****************************************************************************************************


_______  cons.conf.idx  _______
----------------------------------------------------------------------------------------------------

Mean: -40.50260027192386
Median: -41.8

Skewness: 0.3031688173189229
Skewness Explanation: Normally Distributed

IQR: 6.300000000000004

Outlier Percentage (using IQR): 1.0852675536564047%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     15.877687               Yes
1        duration      2.439530                No
2        campaign      1.921579                No
3           pdays     45.876760               Yes
4        previous      2.004322                No
5    emp.var.rate     22.762619               Yes
6  cons.price.idx  20737.612754               Yes
7       euribor3m    161.711056               Yes
8     nr.employed  22899.931358               Yes
9               y      1.654778                No


--- Univariate Analysis for cons.conf.idx ---
Descriptive Statistics:
count    41188.000000
mean       -40.502600
std          4.628198
min        -50.800000
25%        -42.700000
50%        -41.800000
75%        -36.400000
max        -26.900000
Name: cons.conf.idx, dtype: float64
****************************************************************************************************


_______  euribor3m  _______
----------------------------------------------------------------------------------------------------

Mean: 3.621290812858114
Median: 4.857

Skewness: -0.7091621286441162
Skewness Explanation: Not Normally Distributed

IQR: 3.617

Outlier Percentage (using IQR): 0.0%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.047481               Yes
1        duration      2.444694                No
2        campaign      1.916455                No
3           pdays     46.389586               Yes
4        previous      1.999199                No
5    emp.var.rate      2.004732                No
6  cons.price.idx  14141.606823               Yes
7   cons.conf.idx     86.374166               Yes
8     nr.employed  14306.183287               Yes
9               y      1.665146                No


--- Univariate Analysis for euribor3m ---
Descriptive Statistics:
count    41188.000000
mean         3.621291
std          1.734447
min          0.634000
25%          1.344000
50%          4.857000
75%          4.961000
max          5.045000
Name: euribor3m, dtype: float64
****************************************************************************************************


_______  nr.employed  _______
----------------------------------------------------------------------------------------------------

Mean: 5167.035910944936
Median: 5191.0

Skewness: -1.0442243763652297
Skewness Explanation: Not Normally Distributed

IQR: 129.0

Outlier Percentage (using IQR): 0.0%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
         Variable         VIF Multicollinearity
0             age   16.049440               Yes
1        duration    2.444494                No
2        campaign    1.919478                No
3           pdays   45.852187               Yes
4        previous    1.991326                No
5    emp.var.rate   19.955311               Yes
6  cons.price.idx  313.518793               Yes
7   cons.conf.idx  102.536121               Yes
8       euribor3m  119.928480               Yes
9               y    1.650273                No


--- Univariate Analysis for nr.employed ---
Descriptive Statistics:
count    41188.000000
mean      5167.035911
std         72.251528
min       4963.600000
25%       5099.100000
50%       5191.000000
75%       5228.100000
max       5228.100000
Name: nr.employed, dtype: float64
****************************************************************************************************


_______  y  _______
----------------------------------------------------------------------------------------------------

Mean: 0.11265417111780131
Median: 0.0

Skewness: 2.450240900264878
Skewness Explanation: Not Normally Distributed

IQR: 0.0

Outlier Percentage (using IQR): 11.265417111780131%

Outlier Percentage (using Z-Score): 0.0%


--- Variance Inflation Factor (VIF) ---
         Variable           VIF Multicollinearity
0             age     16.047296               Yes
1        duration      2.011044                No
2        campaign      1.921499                No
3           pdays     44.413175               Yes
4        previous      2.001464                No
5    emp.var.rate     28.910219               Yes
6  cons.price.idx  22561.123124               Yes
7   cons.conf.idx    120.086975               Yes
8       euribor3m    226.237349               Yes
9     nr.employed  26746.634212               Yes


--- Univariate Analysis for y ---
Descriptive Statistics:
count    41188.000000
mean         0.112654
std          0.316173
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: y, dtype: float64
****************************************************************************************************

# Bivariate Test of T-Test For Finding Relationship

In [22]:
# Bivariate Analysis
print("\n--- Bivariate Analysis with T Test ---")
for col in numeric_data.columns[:-1]:
    t_stat, p_value = ttest_ind(numeric_data[numeric_data['y'] == 1][col], numeric_data[numeric_data['y'] == 0][col])
    print(f"T-Test p-value for {col}: {p_value}")
    
    # Interpretation
    if p_value < 0.05:
        print("Reject the Null Hypothesis. There is a significant difference.")
        print(" Negative correlation :--  doesn't seem strongly correlated with the target.")
        print()
        print('-' * 100)

    else:
        print("Fail to reject the Null Hypothesis. No significant difference observed.")
        print("Positive correlation.:--  doesn't seem strongly correlated with the target.")
        print()
        print('-' * 100)

--- Bivariate Analysis with T Test ---
T-Test p-value for age: 6.80213641846347e-10
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for duration: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for campaign: 2.0077799906175707e-41
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for pdays: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for previous: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for emp.var.rate: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for cons.price.idx: 9.318964779131688e-170
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for cons.conf.idx: 7.536664996589874e-29
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for euribor3m: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------
T-Test p-value for nr.employed: 0.0
Reject the Null Hypothesis. There is a significant difference.
 Negative correlation :--  doesn't seem strongly correlated with the target.

----------------------------------------------------------------------------------------------------

# Bivariate Test of Anova For Finding Relationship

In [23]:
# Bivariate Analysis with ANOVA
print("\n--- Bivariate Analysis with ANOVA ---")
for col in numeric_data.columns[:-1]:
    print(f"\n--- Bivariate Analysis for {col} and 'y' ---")

    # Perform ANOVA for numerical columns
    groups = [numeric_data[numeric_data['y'] == i][col] for i in numeric_data['y'].unique()]
    f_stat, p_value = f_oneway(*groups)
    print(f"ANOVA p-value for {col}: {p_value}")
    
    # Interpretation
    if p_value < 0.05:
        print("Reject the Null Hypothesis. There is a significant difference.")
        print("Negative correlation: Doesn't seem strongly correlated with the target.")
    else:
        print("Fail to reject the Null Hypothesis. No significant difference observed.")
        print("Positive correlation: Doesn't seem strongly correlated with the target.")
    print('-' * 100)

--- Bivariate Analysis with ANOVA ---

--- Bivariate Analysis for age and 'y' ---
ANOVA p-value for age: 6.802136418528356e-10
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for duration and 'y' ---
ANOVA p-value for duration: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for campaign and 'y' ---
ANOVA p-value for campaign: 2.007779990638697e-41
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for pdays and 'y' ---
ANOVA p-value for pdays: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for previous and 'y' ---
ANOVA p-value for previous: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for emp.var.rate and 'y' ---
ANOVA p-value for emp.var.rate: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for cons.price.idx and 'y' ---
ANOVA p-value for cons.price.idx: 9.318964779562635e-170
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for cons.conf.idx and 'y' ---
ANOVA p-value for cons.conf.idx: 7.536664996677877e-29
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for euribor3m and 'y' ---
ANOVA p-value for euribor3m: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for nr.employed and 'y' ---
ANOVA p-value for nr.employed: 0.0
Reject the Null Hypothesis. There is a significant difference.
Negative correlation: Doesn't seem strongly correlated with the target.
----------------------------------------------------------------------------------------------------

# Correlation Test For Finding Relationship

In [24]:
# Assuming numeric_data is your DataFrame with numeric columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Extract numeric columns
numeric_columns = numeric_data.iloc[:, :-1]

# Calculate correlation matrix
correlation_matrix = numeric_columns.corrwith(numeric_data['y'])

# Display correlation information in the specified format
print("\n--- Correlation with the Target Column 'y' ---")
for col, correlation_coefficient in correlation_matrix.items():
    #print(f"\n##### {col} ({correlation_coefficient:.6f}):")
    
    # Interpretation
    if abs(correlation_coefficient) <= 0.05:
        correlation_interpretation = "A very weak correlation."
    elif 0.05 < abs(correlation_coefficient) <= 0.2:
        correlation_interpretation = "A weak correlation."
    elif 0.2 < abs(correlation_coefficient) <= 0.5:
        correlation_interpretation = "A moderate correlation."
    else:
        correlation_interpretation = "A strong correlation."
    
    if correlation_coefficient > 0:
        correlation_interpretation += " The feature is positively correlated with the target."
    elif correlation_coefficient < 0:
        correlation_interpretation += " The feature is negatively correlated with the target."
    else:
        correlation_interpretation += " There is no linear correlation with the target."

    print()

    print(f" {col} ({correlation_coefficient:.6f}): \n {correlation_interpretation}")
    print()
    print('#' * 120)

--- Correlation with the Target Column 'y' ---

 age (0.030399):
 A very weak correlation. The feature is positively correlated with the target.

########################################################################################################################

 duration (0.405274):
 A moderate correlation. The feature is positively correlated with the target.

########################################################################################################################

 campaign (-0.066357):
 A weak correlation. The feature is negatively correlated with the target.

########################################################################################################################

 pdays (-0.324914):
 A moderate correlation. The feature is negatively correlated with the target.

########################################################################################################################

 previous (0.230181):
 A moderate correlation. The feature is positively correlated with the target.

########################################################################################################################

 emp.var.rate (-0.298334):
 A moderate correlation. The feature is negatively correlated with the target.

########################################################################################################################

 cons.price.idx (-0.136211):
 A weak correlation. The feature is negatively correlated with the target.

########################################################################################################################

 cons.conf.idx (0.054878):
 A weak correlation. The feature is positively correlated with the target.

########################################################################################################################

 euribor3m (-0.307771):
 A moderate correlation. The feature is negatively correlated with the target.

########################################################################################################################

 nr.employed (-0.354678):
 A moderate correlation. The feature is negatively correlated with the target.

########################################################################################################################

In [25]:
from sklearn.feature_selection import mutual_info_classif

def analyze_mutual_information(data, target_column):
    """
    Analyze Mutual Information for each numeric column with the target column.

    Parameters:
    - data: DataFrame with numeric columns
    - target_column: Name of the target column

    Output:
    Prints the name of the column, its relation with the target column, the kind of relation,
    and whether the feature is informative or not.
    """

    print("\n--- Mutual Information Analysis ---")
    for col in data.columns[:-1]:
        print(f"\n--- Analysis for {col} ---")
        
        # Perform Mutual Information for numerical columns
        mutual_info = mutual_info_classif(data[[col]], data[target_column])[0]
        print(f"Mutual Information: {mutual_info}")

        # Interpretation
        if mutual_info > 0:
            print("Relation with Target: Positive correlation")
            print("Information Gain: The feature is informative for the target.")
        else:
            print("Relation with Target: No significant correlation")
            print("Information Gain: No significant information gain observed.")
        
        print('*' * 100)

# Example usage:
analyze_mutual_information(numeric_data, 'y')

--- Mutual Information Analysis ---

--- Analysis for age ---
Mutual Information: 0.014138679488393313
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for duration ---
Mutual Information: 0.0766872016110629
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for campaign ---
Mutual Information: 0.002274970662857756
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for pdays ---
Mutual Information: 0.03941065271526045
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for previous ---
Mutual Information: 0.020328825757299107
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for emp.var.rate ---
Mutual Information: 0.05494315567069297
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for cons.price.idx ---
Mutual Information: 0.07125454507028328
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for cons.conf.idx ---
Mutual Information: 0.0682286581423337
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for euribor3m ---
Mutual Information: 0.07380844392709651
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

--- Analysis for nr.employed ---
Mutual Information: 0.06549035931362801
Relation with Target: Positive correlation
Information Gain: The feature is informative for the target.
****************************************************************************************************

t-Test and ANOVA: These tests focus on means and variances, making assumptions about the distribution of the data. They might not capture non-linear or complex relationships.
Mutual Information: This measures the dependency between variables, capturing both linear and non-linear relationships. It is non-parametric and doesn't assume a specific data distribution.
Data Distribution:

t-Test and ANOVA: Assume normal distribution. If your data is skewed or doesn't meet the assumptions, the results might be unreliable.
Mutual Information: No distribution assumptions. It can capture relationships beyond linear correlations.
Interpretation:

t-Test and ANOVA: Rejecting the null hypothesis doesn't necessarily imply a strong relationship; it means a statistically significant difference.
Mutual Information: Provides a measure of the strength of the relationship, not just whether it's different.

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Assuming numeric_data is your DataFrame with numeric columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Split the data into features (X) and target (y)
X = numeric_data.iloc[:, :-1]
y = numeric_data['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Logistic Regression model with increased max_iter
model = LogisticRegression(max_iter=1000)  # Adjust max_iter as needed
model.fit(X_train, y_train)

# Get coefficients
coefficients = model.coef_[0]

# Display coefficients and feature names
print("\n--- Logistic Regression Coefficients ---")
for col, coef in zip(X.columns, coefficients):
    print(f"{col}: {coef}")

--- Logistic Regression Coefficients ---
age: 0.0007417925074401134
duration: 0.004475231381796348
campaign: -0.06635424741518056
pdays: -0.0016538656467781734
previous: -0.09831649620321126
emp.var.rate: -0.22234666098452405
cons.price.idx: 0.3767101707418818
cons.conf.idx: 0.04397694776176596
euribor3m: -0.21868152108220795
nr.employed: -0.006786701227493292

# Logistic Regression For Finding Relationship

In [27]:
# Assuming numeric_data is your DataFrame with numeric columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Split the data into features (X) and target (y)
X = numeric_data.iloc[:, :-1]
y = numeric_data['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Logistic Regression model with increased max_iter
model = LogisticRegression(max_iter=1000)  # Adjust max_iter as needed
model.fit(X_train, y_train)

# Get coefficients
coefficients = model.coef_[0]

# Display coefficients in a table format
print("| Variable         | Coefficient      | Interpretation                                                  ")
print("|------------------|------------------|-----------------------------------------------------------------")

for col, coef in zip(X.columns, coefficients):
    correlation_interpretation = ""
    
    # Interpretation
    if abs(coef) <= 0.05:
        correlation_interpretation = "Very weak correlation; not strongly correlated"
    elif 0.05 < abs(coef) <= 0.2:
        correlation_interpretation = "Weak correlation"
    elif 0.2 < abs(coef) <= 0.5:
        correlation_interpretation = "Moderate correlation"
    else:
        correlation_interpretation = "Strong correlation"
    
    if coef > 0:
        correlation_interpretation += "; positively correlated."
    elif coef < 0:
        correlation_interpretation += "; negatively correlated."
    else:
        correlation_interpretation += "; no linear correlation."

    print(f"| {col:<16} | {coef:<12.6f}     | {correlation_interpretation:<56}")

| Variable         | Coefficient      | Interpretation
|------------------|------------------|-----------------------------------------------------------------
| age              | 0.000742         | Very weak correlation; not strongly correlated; positively correlated.
| duration         | 0.004475         | Very weak correlation; not strongly correlated; positively correlated.
| campaign         | -0.066354        | Weak correlation; negatively correlated.
| pdays            | -0.001654        | Very weak correlation; not strongly correlated; negatively correlated.
| previous         | -0.098316        | Weak correlation; negatively correlated.
| emp.var.rate     | -0.222347        | Moderate correlation; negatively correlated.
| cons.price.idx   | 0.376710         | Moderate correlation; positively correlated.
| cons.conf.idx    | 0.043977         | Very weak correlation; not strongly correlated; positively correlated.
| euribor3m        | -0.218682        | Moderate correlation; negatively correlated.
| nr.employed      | -0.006787        | Very weak correlation; not strongly correlated; negatively correlated.

# Random Forest Classifier For Finding Relationship

In [28]:
# Assuming numeric_data is your DataFrame with numeric columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Split the data into features (X) and target (y)
X = numeric_data.iloc[:, :-1]
y = numeric_data['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Get feature importances
importances = model.feature_importances_

# Create a DataFrame to store feature importances
feature_importance_df = pd.DataFrame({'Variable': X.columns, 'Importance': importances})

# Display feature importances in a table format
print("| Variable         | Importance      | Interpretation                                                 |")
print("|------------------|------------------|-----------------------------------------------------------------|")

for index, row in feature_importance_df.iterrows():
    importance_interpretation = ""
    
    # Interpretation
    if row['Importance'] <= 0.05:
        importance_interpretation = "Very weak importance; not strongly influential"
    elif 0.05 < row['Importance'] <= 0.2:
        importance_interpretation = "Weak importance"
    elif 0.2 < row['Importance'] <= 0.5:
        importance_interpretation = "Moderate importance"
    else:
        importance_interpretation = "Strong importance"
    
    #importance_interpretation += f"; {row['Importance']:.6f} proportion of total importance."

    print(f"| {row['Variable']:<16} | {row['Importance']:<12.6f}     | {importance_interpretation:<60} |")

| Variable         | Importance      | Interpretation                                                 |
|------------------|------------------|-----------------------------------------------------------------|
| age              | 0.152906         | Weak importance                                              |
| duration         | 0.411514         | Moderate importance                                          |
| campaign         | 0.057237         | Weak importance                                              |
| pdays            | 0.047141         | Very weak importance; not strongly influential               |
| previous         | 0.020016         | Very weak importance; not strongly influential               |
| emp.var.rate     | 0.019464         | Very weak importance; not strongly influential               |
| cons.price.idx   | 0.025992         | Very weak importance; not strongly influential               |
| cons.conf.idx    | 0.028480         | Very weak importance; not strongly influential               |
| euribor3m        | 0.148289         | Weak importance                                              |
| nr.employed      | 0.088960         | Weak importance                                              |

# Statical Analysis on Categorical Values

In [29]:
categorical_data['y']=numeric_data['y']

# categorical_data['y']=numeric_data['y']
# categorical_data

In [30]:
categorical_data.head(5)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent,0
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent,0
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent,0
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent,0
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent,0

In [31]:
categorical_data.tail(5)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
41183,retired,married,professional.course,no,yes,no,cellular,nov,fri,nonexistent,1
41184,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,0
41185,retired,married,university.degree,no,yes,no,cellular,nov,fri,nonexistent,0
41186,technician,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,1
41187,retired,married,professional.course,no,yes,no,cellular,nov,fri,failure,0

In [32]:
categorical_data.shape

(41188, 11)

In [33]:
categorical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   job          41188 non-null  object
 1   marital      41188 non-null  object
 2   education    41188 non-null  object
 3   default      41188 non-null  object
 4   housing      41188 non-null  object
 5   loan         41188 non-null  object
 6   contact      41188 non-null  object
 7   month        41188 non-null  object
 8   day_of_week  41188 non-null  object
 9   poutcome     41188 non-null  object
 10  y            41188 non-null  int64
dtypes: int64(1), object(10)
memory usage: 3.5+ MB

## Univariate

In [34]:
categorical_data.head(5)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent,0
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent,0
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent,0
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent,0
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent,0

In [35]:
categorical_data.tail(5)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
41183,retired,married,professional.course,no,yes,no,cellular,nov,fri,nonexistent,1
41184,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,0
41185,retired,married,university.degree,no,yes,no,cellular,nov,fri,nonexistent,0
41186,technician,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,1
41187,retired,married,professional.course,no,yes,no,cellular,nov,fri,failure,0

# Count Of Each Class with Target Yes And No

In [36]:
# Assuming df is your DataFrame with categorical columns and the last column is 'y'
# Replace 'y' with your actual target column name

# Get the categorical columns
categorical_data = df.select_dtypes(include='object').dropna()

# Loop through each categorical column
for col in categorical_data.columns:
    print(f"\n{'='*60}\n{' '*20}Frequency Table for {col.capitalize()}\n{'='*60}")

    # Frequency count
    frequency_table = df[col].value_counts()

    # Print table header
    print(f"| {'Class': <30} | {'Total Count': <15} | {'Count with Yes': <15} | {'Count with No': <15} |")
    print(f"|{'-'*31}|{'-'*16}|{'-'*16}|{'-'*16}|")

    # Print rows
    for value in frequency_table.index:
        class_counts = df[df[col] == value]['y'].value_counts()

        count_total = frequency_table[value]
        count_yes = class_counts.get(1, 0)
        count_no = class_counts.get(0, 0)

        print(f"| {value: <30} | {count_total: <15} | {count_yes: <15} | {count_no: <15} |")

    print('\n')

============================================================
                    Frequency Table for Job
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| admin.                         | 10422           | 1352            | 9070            |
| blue-collar                    | 9254            | 638             | 8616            |
| technician                     | 6743            | 730             | 6013            |
| services                       | 3969            | 323             | 3646            |
| management                     | 2924            | 328             | 2596            |
| retired                        | 1720            | 434             | 1286            |
| entrepreneur                   | 1456            | 124             | 1332            |
| self-employed                  | 1421            | 149             | 1272            |
| housemaid                      | 1060            | 106             | 954             |
| unemployed                     | 1014            | 144             | 870             |
| student                        | 875             | 275             | 600             |
| unknown                        | 330             | 37              | 293             |



============================================================
                    Frequency Table for Marital
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| married                        | 24928           | 2532            | 22396           |
| single                         | 11568           | 1620            | 9948            |
| divorced                       | 4612            | 476             | 4136            |
| unknown                        | 80              | 12              | 68              |



============================================================
                    Frequency Table for Education
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| university.degree              | 12168           | 1670            | 10498           |
| high.school                    | 9515            | 1031            | 8484            |
| basic.9y                       | 6045            | 473             | 5572            |
| professional.course            | 5243            | 595             | 4648            |
| basic.4y                       | 4176            | 428             | 3748            |
| basic.6y                       | 2292            | 188             | 2104            |
| unknown                        | 1731            | 251             | 1480            |
| illiterate                     | 18              | 4               | 14              |



============================================================
                    Frequency Table for Default
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| no                             | 32588           | 4197            | 28391           |
| unknown                        | 8597            | 443             | 8154            |
| yes                            | 3               | 0               | 3               |



============================================================
                    Frequency Table for Housing
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| yes                            | 21576           | 2507            | 19069           |
| no                             | 18622           | 2026            | 16596           |
| unknown                        | 990             | 107             | 883             |



============================================================
                    Frequency Table for Loan
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| no                             | 33950           | 3850            | 30100           |
| yes                            | 6248            | 683             | 5565            |
| unknown                        | 990             | 107             | 883             |



============================================================
                    Frequency Table for Contact
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| cellular                       | 26144           | 3853            | 22291           |
| telephone                      | 15044           | 787             | 14257           |



============================================================
                    Frequency Table for Month
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| may                            | 13769           | 886             | 12883           |
| jul                            | 7174            | 649             | 6525            |
| aug                            | 6178            | 655             | 5523            |
| jun                            | 5318            | 559             | 4759            |
| nov                            | 4101            | 416             | 3685            |
| apr                            | 2632            | 539             | 2093            |
| oct                            | 718             | 315             | 403             |
| sep                            | 570             | 256             | 314             |
| mar                            | 546             | 276             | 270             |
| dec                            | 182             | 89              | 93              |



============================================================
                    Frequency Table for Day_of_week
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| thu                            | 8623            | 1045            | 7578            |
| mon                            | 8514            | 847             | 7667            |
| wed                            | 8134            | 949             | 7185            |
| tue                            | 8090            | 953             | 7137            |
| fri                            | 7827            | 846             | 6981            |



============================================================
                    Frequency Table for Poutcome
============================================================
| Class                          | Total Count     | Count with Yes  | Count with No   |
|-------------------------------|----------------|----------------|----------------|
| nonexistent                    | 35563           | 3141            | 32422           |
| failure                        | 4252            | 605             | 3647            |
| success                        | 1373            | 894             | 479             |

# Class Distibution

In [37]:
# Loop through each categorical column
for col in categorical_data.columns:
    print(f"\n{'='*80}\n{' '*20}Class Distribution for {col.capitalize()}\n{'='*80}")
    
    # Frequency count
    frequency_table = df[col].value_counts()

    # Percentage of each class with the target column
    print(f"| {'Class': <20} | {'Perc. with YES': <20}     | {'Perc. with NO': <20} |")
    print(f"|{'-'*21} |{'-'*21}     |{'-'*21}|")
    for value in frequency_table.index:
        class_counts = df[df[col] == value]['y'].value_counts()
        total_counts = class_counts.sum()

        count_yes = class_counts.get(1, 0)
        count_no = class_counts.get(0, 0)

        # Percentage difference
        percentage_yes = count_yes / total_counts * 100
        percentage_no = count_no / total_counts * 100

        print(f"| {value: <20} | {percentage_yes:.6f}%                | {percentage_no:.6f}% |")

    print('\n')

# Add a separator between tables
print('='*80)

================================================================================
                    Class Distribution for Job
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| admin.               | 12.972558%                | 87.027442% |
| blue-collar          | 6.894316%                | 93.105684% |
| technician           | 10.826042%                | 89.173958% |
| services             | 8.138070%                | 91.861930% |
| management           | 11.217510%                | 88.782490% |
| retired              | 25.232558%                | 74.767442% |
| entrepreneur         | 8.516484%                | 91.483516% |
| self-employed        | 10.485574%                | 89.514426% |
| housemaid            | 10.000000%                | 90.000000% |
| unemployed           | 14.201183%                | 85.798817% |
| student              | 31.428571%                | 68.571429% |
| unknown              | 11.212121%                | 88.787879% |



================================================================================
                    Class Distribution for Marital
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| married              | 10.157253%                | 89.842747% |
| single               | 14.004149%                | 85.995851% |
| divorced             | 10.320902%                | 89.679098% |
| unknown              | 15.000000%                | 85.000000% |



================================================================================
                    Class Distribution for Education
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| university.degree    | 13.724523%                | 86.275477% |
| high.school          | 10.835523%                | 89.164477% |
| basic.9y             | 7.824648%                | 92.175352% |
| professional.course  | 11.348465%                | 88.651535% |
| basic.4y             | 10.249042%                | 89.750958% |
| basic.6y             | 8.202443%                | 91.797557% |
| unknown              | 14.500289%                | 85.499711% |
| illiterate           | 22.222222%                | 77.777778% |



================================================================================
                    Class Distribution for Default
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| no                   | 12.878974%                | 87.121026% |
| unknown              | 5.152960%                | 94.847040% |
| yes                  | 0.000000%                | 100.000000% |



================================================================================
                    Class Distribution for Housing
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| yes                  | 11.619392%                | 88.380608% |
| no                   | 10.879605%                | 89.120395% |
| unknown              | 10.808081%                | 89.191919% |



================================================================================
                    Class Distribution for Loan
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| no                   | 11.340206%                | 88.659794% |
| yes                  | 10.931498%                | 89.068502% |
| unknown              | 10.808081%                | 89.191919% |



================================================================================
                    Class Distribution for Contact
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| cellular             | 14.737607%                | 85.262393% |
| telephone            | 5.231321%                | 94.768679% |



================================================================================
                    Class Distribution for Month
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| may                  | 6.434745%                | 93.565255% |
| jul                  | 9.046557%                | 90.953443% |
| aug                  | 10.602137%                | 89.397863% |
| jun                  | 10.511470%                | 89.488530% |
| nov                  | 10.143867%                | 89.856133% |
| apr                  | 20.478723%                | 79.521277% |
| oct                  | 43.871866%                | 56.128134% |
| sep                  | 44.912281%                | 55.087719% |
| mar                  | 50.549451%                | 49.450549% |
| dec                  | 48.901099%                | 51.098901% |



================================================================================
                    Class Distribution for Day_of_week
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| thu                  | 12.118752%                | 87.881248% |
| mon                  | 9.948320%                | 90.051680% |
| wed                  | 11.667076%                | 88.332924% |
| tue                  | 11.779975%                | 88.220025% |
| fri                  | 10.808739%                | 89.191261% |



================================================================================
                    Class Distribution for Poutcome
================================================================================
| Class                | Perc. with YES           | Perc. with NO        |
|--------------------- |---------------------     |---------------------|
| nonexistent          | 8.832213%                | 91.167787% |
| failure              | 14.228598%                | 85.771402% |
| success              | 65.112891%                | 34.887109% |


================================================================================

# Minimum, Maximum, Mean With Yes and No

In [38]:
for col in categorical_data.columns:
    print("\nMean, Min, Max Regarding Yes and No:")
    print()
    print(f"|{col: <15}|{'Class': <15}|{'Mean with YES': <15}|{'Mean with NO': <15}|"
          f"{'Min with YES': <15}|{'Min with NO': <15}|{'Max with YES': <15}|{'Max with NO': <15}|")
    print('-'*100)

    # Frequency count
    frequency_table = df[col].value_counts()

    # Statistics for both Yes and No
    for value in frequency_table.index:
        class_counts = df[df[col] == value]['y'].value_counts()
        total_counts = class_counts.sum()

        count_yes = class_counts.get(1, 0)
        count_no = class_counts.get(0, 0)

        # Mean, Minimum, and Maximum for each class
        mean_value_yes = count_yes / total_counts
        mean_value_no = count_no / total_counts
        min_value_yes = class_counts.min()
        min_value_no = class_counts.min()
        max_value_yes = class_counts.max()
        max_value_no = class_counts.max()

        print(f"|{value: <15}|{mean_value_yes * 100: <15.6f}%|{mean_value_no * 100: <15.6f}%|"
              f"{min_value_yes: <15}|{min_value_no: <15}|{max_value_yes: <15}|{max_value_no: <15}|")

    # Add a separator between classes
    print('-' * 105)

# Add a separator between tables# Loop through each categorical column
for col in categorical_data.columns:
    print("\nMean, Min, Max Regarding Yes and No:")
    print(f"|{col: <15}|{'Class': <15}|{'Mean with T1': <15}|{'Mean with T0': <15}|"
          f"{'Min with T1': <15}|{'Min with T0': <15}|{'Max with T1': <15}|{'Max with T0': <15}|")

    # Frequency count
    frequency_table = df[col].value_counts()

    # Statistics for both Yes and No
    for value in frequency_table.index:
        class_counts = df[df[col] == value]['y'].value_counts()
        total_counts = class_counts.sum()

        count_yes = class_counts.get(1, 0)
        count_no = class_counts.get(0, 0)

        # Mean, Minimum, and Maximum for each class
        mean_value_yes = count_yes / total_counts
        mean_value_no = count_no / total_counts
        min_value_yes = class_counts.min()
        min_value_no = class_counts.min()
        max_value_yes = class_counts.max()
        max_value_no = class_counts.max()

        print(f"|  {value: <15}    |{mean_value_yes * 100: <15.6f}%    |{mean_value_no * 100: <15.6f}%    |"
              f"{min_value_yes: <15}     |{max_value_yes: <15}  ")

    # Add a separator between classes
    print('-' * 105)

# Add a separator between tables
print('\n' + '*' * 100 + '\n')
print('\n' + '*' * 100 + '\n')

Mean, Min, Max Regarding Yes and No:

|job            |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|admin.         |12.972558      %|87.027442      %|1352           |1352           |9070           |9070           |
|blue-collar    |6.894316       %|93.105684      %|638            |638            |8616           |8616           |
|technician     |10.826042      %|89.173958      %|730            |730            |6013           |6013           |
|services       |8.138070       %|91.861930      %|323            |323            |3646           |3646           |
|management     |11.217510      %|88.782490      %|328            |328            |2596           |2596           |
|retired        |25.232558      %|74.767442      %|434            |434            |1286           |1286           |
|entrepreneur   |8.516484       %|91.483516      %|124            |124            |1332           |1332           |
|self-employed  |10.485574      %|89.514426      %|149            |149            |1272           |1272           |
|housemaid      |10.000000      %|90.000000      %|106            |106            |954            |954            |
|unemployed     |14.201183      %|85.798817      %|144            |144            |870            |870            |
|student        |31.428571      %|68.571429      %|275            |275            |600            |600            |
|unknown        |11.212121      %|88.787879      %|37             |37             |293            |293            |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|marital        |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|married        |10.157253      %|89.842747      %|2532           |2532           |22396          |22396          |
|single         |14.004149      %|85.995851      %|1620           |1620           |9948           |9948           |
|divorced       |10.320902      %|89.679098      %|476            |476            |4136           |4136           |
|unknown        |15.000000      %|85.000000      %|12             |12             |68             |68             |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|education      |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|university.degree|13.724523      %|86.275477      %|1670           |1670           |10498          |10498          |
|high.school    |10.835523      %|89.164477      %|1031           |1031           |8484           |8484           |
|basic.9y       |7.824648       %|92.175352      %|473            |473            |5572           |5572           |
|professional.course|11.348465      %|88.651535      %|595            |595            |4648           |4648           |
|basic.4y       |10.249042      %|89.750958      %|428            |428            |3748           |3748           |
|basic.6y       |8.202443       %|91.797557      %|188            |188            |2104           |2104           |
|unknown        |14.500289      %|85.499711      %|251            |251            |1480           |1480           |
|illiterate     |22.222222      %|77.777778      %|4              |4              |14             |14             |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|default        |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|no             |12.878974      %|87.121026      %|4197           |4197           |28391          |28391          |
|unknown        |5.152960       %|94.847040      %|443            |443            |8154           |8154           |
|yes            |0.000000       %|100.000000     %|3              |3              |3              |3              |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|housing        |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|yes            |11.619392      %|88.380608      %|2507           |2507           |19069          |19069          |
|no             |10.879605      %|89.120395      %|2026           |2026           |16596          |16596          |
|unknown        |10.808081      %|89.191919      %|107            |107            |883            |883            |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|loan           |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|no             |11.340206      %|88.659794      %|3850           |3850           |30100          |30100          |
|yes            |10.931498      %|89.068502      %|683            |683            |5565           |5565           |
|unknown        |10.808081      %|89.191919      %|107            |107            |883            |883            |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|contact        |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|cellular       |14.737607      %|85.262393      %|3853           |3853           |22291          |22291          |
|telephone      |5.231321       %|94.768679      %|787            |787            |14257          |14257          |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|month          |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|may            |6.434745       %|93.565255      %|886            |886            |12883          |12883          |
|jul            |9.046557       %|90.953443      %|649            |649            |6525           |6525           |
|aug            |10.602137      %|89.397863      %|655            |655            |5523           |5523           |
|jun            |10.511470      %|89.488530      %|559            |559            |4759           |4759           |
|nov            |10.143867      %|89.856133      %|416            |416            |3685           |3685           |
|apr            |20.478723      %|79.521277      %|539            |539            |2093           |2093           |
|oct            |43.871866      %|56.128134      %|315            |315            |403            |403            |
|sep            |44.912281      %|55.087719      %|256            |256            |314            |314            |
|mar            |50.549451      %|49.450549      %|270            |270            |276            |276            |
|dec            |48.901099      %|51.098901      %|89             |89             |93             |93             |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|day_of_week    |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|thu            |12.118752      %|87.881248      %|1045           |1045           |7578           |7578           |
|mon            |9.948320       %|90.051680      %|847            |847            |7667           |7667           |
|wed            |11.667076      %|88.332924      %|949            |949            |7185           |7185           |
|tue            |11.779975      %|88.220025      %|953            |953            |7137           |7137           |
|fri            |10.808739      %|89.191261      %|846            |846            |6981           |6981           |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:

|poutcome       |Class          |Mean with YES  |Mean with NO   |Min with YES   |Min with NO    |Max with YES   |Max with NO    |
----------------------------------------------------------------------------------------------------
|nonexistent    |8.832213       %|91.167787      %|3141           |3141           |32422          |32422          |
|failure        |14.228598      %|85.771402      %|605            |605            |3647           |3647           |
|success        |65.112891      %|34.887109      %|479            |479            |894            |894            |
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|job            |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  admin.             |12.972558      %    |87.027442      %    |1352                |9070
|  blue-collar        |6.894316       %    |93.105684      %    |638                 |8616
|  technician         |10.826042      %    |89.173958      %    |730                 |6013
|  services           |8.138070       %    |91.861930      %    |323                 |3646
|  management         |11.217510      %    |88.782490      %    |328                 |2596
|  retired            |25.232558      %    |74.767442      %    |434                 |1286
|  entrepreneur       |8.516484       %    |91.483516      %    |124                 |1332
|  self-employed      |10.485574      %    |89.514426      %    |149                 |1272
|  housemaid          |10.000000      %    |90.000000      %    |106                 |954
|  unemployed         |14.201183      %    |85.798817      %    |144                 |870
|  student            |31.428571      %    |68.571429      %    |275                 |600
|  unknown            |11.212121      %    |88.787879      %    |37                  |293
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|marital        |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  married            |10.157253      %    |89.842747      %    |2532                |22396
|  single             |14.004149      %    |85.995851      %    |1620                |9948
|  divorced           |10.320902      %    |89.679098      %    |476                 |4136
|  unknown            |15.000000      %    |85.000000      %    |12                  |68
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|education      |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  university.degree    |13.724523      %    |86.275477      %    |1670                |10498
|  high.school        |10.835523      %    |89.164477      %    |1031                |8484
|  basic.9y           |7.824648       %    |92.175352      %    |473                 |5572
|  professional.course    |11.348465      %    |88.651535      %    |595                 |4648
|  basic.4y           |10.249042      %    |89.750958      %    |428                 |3748
|  basic.6y           |8.202443       %    |91.797557      %    |188                 |2104
|  unknown            |14.500289      %    |85.499711      %    |251                 |1480
|  illiterate         |22.222222      %    |77.777778      %    |4                   |14
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|default        |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  no                 |12.878974      %    |87.121026      %    |4197                |28391
|  unknown            |5.152960       %    |94.847040      %    |443                 |8154
|  yes                |0.000000       %    |100.000000     %    |3                   |3
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|housing        |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  yes                |11.619392      %    |88.380608      %    |2507                |19069
|  no                 |10.879605      %    |89.120395      %    |2026                |16596
|  unknown            |10.808081      %    |89.191919      %    |107                 |883
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|loan           |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  no                 |11.340206      %    |88.659794      %    |3850                |30100
|  yes                |10.931498      %    |89.068502      %    |683                 |5565
|  unknown            |10.808081      %    |89.191919      %    |107                 |883
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|contact        |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  cellular           |14.737607      %    |85.262393      %    |3853                |22291
|  telephone          |5.231321       %    |94.768679      %    |787                 |14257
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|month          |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  may                |6.434745       %    |93.565255      %    |886                 |12883
|  jul                |9.046557       %    |90.953443      %    |649                 |6525
|  aug                |10.602137      %    |89.397863      %    |655                 |5523
|  jun                |10.511470      %    |89.488530      %    |559                 |4759
|  nov                |10.143867      %    |89.856133      %    |416                 |3685
|  apr                |20.478723      %    |79.521277      %    |539                 |2093
|  oct                |43.871866      %    |56.128134      %    |315                 |403
|  sep                |44.912281      %    |55.087719      %    |256                 |314
|  mar                |50.549451      %    |49.450549      %    |270                 |276
|  dec                |48.901099      %    |51.098901      %    |89                  |93
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|day_of_week    |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  thu                |12.118752      %    |87.881248      %    |1045                |7578
|  mon                |9.948320       %    |90.051680      %    |847                 |7667
|  wed                |11.667076      %    |88.332924      %    |949                 |7185
|  tue                |11.779975      %    |88.220025      %    |953                 |7137
|  fri                |10.808739      %    |89.191261      %    |846                 |6981
---------------------------------------------------------------------------------------------------------

Mean, Min, Max Regarding Yes and No:
|poutcome       |Class          |Mean with T1   |Mean with T0   |Min with T1    |Min with T0    |Max with T1    |Max with T0    |
|  nonexistent        |8.832213       %    |91.167787      %    |3141                |32422
|  failure            |14.228598      %    |85.771402      %    |605                 |3647
|  success            |65.112891      %    |34.887109      %    |479                 |894
---------------------------------------------------------------------------------------------------------

****************************************************************************************************


****************************************************************************************************

# Bivariate Analysis with Chi-square Test

In [39]:
categorical_data['y']=numeric_data['y']
categorical_data

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent,0
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent,0
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent,0
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent,0
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent,0
...,...,...,...,...,...,...,...,...,...,...,...
41183,retired,married,professional.course,no,yes,no,cellular,nov,fri,nonexistent,1
41184,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,0
41185,retired,married,university.degree,no,yes,no,cellular,nov,fri,nonexistent,0
41186,technician,married,professional.course,no,no,no,cellular,nov,fri,nonexistent,1
41187,retired,married,professional.course,no,yes,no,cellular,nov,fri,failure,0

In [40]:
print("\n--- Bivariate Analysis with Chi-square Test ---")
for col in categorical_data[:-1]:  # Exclude the target column 'y'
    print(f"\n--- Bivariate Analysis for {col} and 'y' ---")

    # Create a contingency table
    contingency_table = pd.crosstab(categorical_data[col], categorical_data['y'])
    
    # Perform Chi-square test
    chi2, p_value, _, _ = chi2_contingency(contingency_table)
    
    # Interpretation
    if p_value < 0.05:
        print("Reject the Null Hypothesis. There is a significant association with the target (y).")
    else:
        print("Fail to reject the Null Hypothesis. No significant association observed.")
    
    print(f"Chi-square value for {col}: {chi2}")
    print(f"P-value: {p_value}")
    print('-' * 100)

--- Bivariate Analysis with Chi-square Test ---

--- Bivariate Analysis for job and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for job: 961.2424403289555
P-value: 4.189763287563623e-199
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for marital and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for marital: 122.65515182252989
P-value: 2.068014648442211e-26
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for education and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for education: 193.10590454149565
P-value: 3.3051890144025054e-38
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for default and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for default: 406.5775146420093
P-value: 5.161957951391637e-89
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for housing and 'y' ---
Fail to reject the Null Hypothesis. No significant association observed.
Chi-square value for housing: 5.684495858974168
P-value: 0.05829447669453452
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for loan and 'y' ---
Fail to reject the Null Hypothesis. No significant association observed.
Chi-square value for loan: 1.094027551150338
P-value: 0.5786752870441754
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for contact and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for contact: 862.3183642075705
P-value: 1.525985652312996e-189
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for month and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for month: 3101.149351411678
P-value: 0.0
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for day_of_week and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for day_of_week: 26.14493907587197
P-value: 2.958482005278532e-05
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for poutcome and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for poutcome: 4230.5237978319765
P-value: 0.0
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for y and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
Chi-square value for y: 41177.99692695045
P-value: 0.0
----------------------------------------------------------------------------------------------------

# Bivariate Analysis with G-test

In [41]:
print("\n--- Bivariate Analysis with G-test (Likelihood Ratio Test) ---")
for col in categorical_data.columns[:-1]:  # Exclude the target column 'y'
    print(f"\n--- Bivariate Analysis for {col} and 'y' ---")

    # Create a contingency table
    contingency_table = pd.crosstab(categorical_data[col], categorical_data['y'])
    
    # Perform G-test (Likelihood Ratio Test)
    g_stat, p_value, _, _ = chi2_contingency(contingency_table, lambda_='log-likelihood')
    
    # Interpretation
    if p_value < 0.05:
        print("Reject the Null Hypothesis. There is a significant association with the target (y).")
    else:
        print("Fail to reject the Null Hypothesis. No significant association observed.")
    
    print(f"G-test (Likelihood Ratio Test) statistic for {col}: {g_stat}")
    print(f"P-value: {p_value}")
    print('-' * 100)

--- Bivariate Analysis with G-test (Likelihood Ratio Test) ---

--- Bivariate Analysis for job and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for job: 812.1222750903776
P-value: 4.726296851106596e-167
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for marital and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for marital: 118.11493261710558
P-value: 1.9651333130891509e-25
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for education and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for education: 196.85313003757153
P-value: 5.322901865315799e-39
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for default and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for default: 475.6642940832884
P-value: 5.138199003982805e-104
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for housing and 'y' ---
Fail to reject the Null Hypothesis. No significant association observed.
G-test (Likelihood Ratio Test) statistic for housing: 5.690782336563643
P-value: 0.0581115309056444
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for loan and 'y' ---
Fail to reject the Null Hypothesis. No significant association observed.
G-test (Likelihood Ratio Test) statistic for loan: 1.1022648352970137
P-value: 0.5762968320247963
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for contact and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for contact: 958.1868922167969
P-value: 2.203550044962375e-210
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for month and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for month: 2175.2685168660178
P-value: 0.0
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for day_of_week and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for day_of_week: 26.524946914795493
P-value: 2.4795667857499086e-05
----------------------------------------------------------------------------------------------------

--- Bivariate Analysis for poutcome and 'y' ---
Reject the Null Hypothesis. There is a significant association with the target (y).
G-test (Likelihood Ratio Test) statistic for poutcome: 2502.880478095927
P-value: 0.0
----------------------------------------------------------------------------------------------------